/*-----------------------*/
/* General */

.rpd-publish-date {
  white-space: nowrap;
  position:relative;
}

.rpd-publish-date.rpd-future,
.rpd-publish-date.rpd-invalid {
  display:none;
}

.rpd-publish-date.rpd-bold {
  font-weight:600 !important;
}

.rpd-publish-date span {
  position:relative;
  z-index: 200;
}

*[data-checked-date="true"] .title,
*[data-checked-date="true"] h2 {
  position:relative;
  z-index: 200;
}


/*-----------------------*/
/* Colors */

/* Today or yesterday */
.rpd-publish-date.rpd-1:before {
  box-shadow: 0px 0px 0px 2.5px rgba(87, 212, 135, 0.4);
  background-color: #2ecc71;
}

/* 2 days - 1 week */
.rpd-publish-date.rpd-2:before {
  box-shadow: 0px 0px 0px 2.5px rgba(26, 188, 156, 0.4);
  background-color: #1abc9c;
}

/* 1 week - 2 weeks */
.rpd-publish-date.rpd-3:before {
  box-shadow: 0px 0px 0px 2.5px rgba(241, 196, 15, .4);
  background-color: #f1c40f;
}

/* 2 weeks - 1 month */
.rpd-publish-date.rpd-4:before {
  box-shadow: 0px 0px 0px 2.5px rgba(243, 156, 18, .4);
  background-color: #f39c12;
}

/* 1 month - 3 months */
.rpd-publish-date.rpd-5:before {
  box-shadow: 0px 0px 0px 2.5px rgba(230, 126, 34, .4);
  background-color: #e67e22;
}

/* 3 months - 6 months */
.rpd-publish-date.rpd-6:before {
  box-shadow: 0px 0px 0px 2.5px rgba(211, 84, 0, .4);
  background-color: #d35400;
}

/* 6 months - 1 year */
.rpd-publish-date.rpd-7:before {
  box-shadow: 0px 0px 0px 2.5px rgba(231, 76, 60, .4);
  background-color: #e74c3c;
}

/* More than a year old */
.rpd-publish-date.rpd-8:before {
  box-shadow: 0px 0px 0px 2.5px rgba(192, 57, 43, .4);
  background-color: #c0392b;
}


/*-----------------------*/
/* Text Dates */

.rpd-publish-date.rpd-text.rpd-no-color:before {
  content:"| ";
  background-color:transparent !important;
}

.rpd-publish-date.rpd-text.rpd-color:before {
  content:"";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  margin-left: 3px;
  position:relative;
  top:-2px;
}

#siteTable .rpd-publish-date.rpd-text {
  margin-left:-1px;
  text-transform:lowercase;
}

#siteTable .rpd-publish-date.rpd-text:before {
  top:0;
}


/*-----------------------*/
/* Bubble Dates */

.rpd-publish-date.rpd-bubble {
  padding:0 3px;
  margin-left:2px;
}

.rpd-publish-date.rpd-bubble.rpd-color {
  color:#fff !important;
}

.rpd-publish-date.rpd-bubble.rpd-no-color {
  color:#5a5a5a !important;
}

.rpd-publish-date.rpd-bubble.rpd-no-color:before {
  background-color: #f9f9f9;
  box-shadow: 0px 0px 0px 1.8px rgba(179, 179, 179, 0.23);
}

#siteTable .rpd-publish-date.rpd-bubble {
  padding:0 2px;
  margin-left:0;
  margin:0 4px;
}

.rpd-publish-date.rpd-bubble:before {
  content:"";
  position:absolute;
  top:0;
  bottom:-1px;
  right:0;
  left:0;
  z-index: 1;
  border-radius:2px;
}

#siteTable .rpd-publish-date.rpd-bubble.rpd-date:before {
  bottom:0;
}