/*-----------------------*/
/* General */

.rpd-publish-date {
  white-space: nowrap;
  position: relative;
  z-index: 1;
  margin: 0 calc(0.6em - 1px);
  display: inline-flex;
  align-items: center;
  line-height: 1;
  font-size: 0.95em;

  &:before {
    box-sizing: content-box;
  }

  &.empty {
    display: none;
  }

  &.rpd-future,
  &.rpd-invalid {
    display: none;
  }

  &.old-reddit {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 500 !important;
  }

  &.rpd-bold {
    span {
      font-weight: 600 !important;
    }
  }

  span {
    position: relative;
    z-index: 200;
  }
}

.rpd-color-wrapper {
  z-index: 100 !important;
}

*[data-checked-date='true'] .title,
*[data-checked-date='true'] h2 {
  position: relative;
  z-index: 200;
}

/*-----------------------*/
/* Colors */

$colors: #2ecc71, #1abc9c, #f1c40f, #f39c12, #e67e22, #d35400, #e74c3c, #c0392b;

.rpd-color-wrapper {
  pointer-events: none;

  $num: 1;

  @each $color in $colors {
    @at-root .rpd-#{$num} & {
      box-shadow: 0 0 0 calc(0.23em - 1px) $color;
      background-color: $color;
    }

    $num: $num + 1;
  }
}

/*-----------------------*/
/* Text Dates */

.rpd-text {
  &.reddit-redesign-1 {
    top: 1px;
  }

  &.rpd-no-color {
    margin-left: 0;

    &:before {
      content: ' | ';
    }

    .rpd-color-wrapper {
      display: none !important;
    }
  }

  .rpd-color-wrapper {
    width: calc(1em - 2px);
    height: calc(1em - 2px);
    margin-right: 0.45em;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: inset 0 0 0 calc(0.23em - 1px) #fff;
    }
  }

  &.old-reddit {
    &.rpd-no-color {
      &:before {
        margin: 0 0.5em;
      }
    }
  }

  &.reddit-redesign-2 {
    &.rpd-no-color {
      top: 0.05em;

      &:before {
        margin: 0 0.5em 0 0.1em;
        content: '';
        width: 1px;
        height: 0.95em;
        background-color: var(--color-divider-default, currentColor);
        position: relative;
      }
    }

    @media (prefers-color-scheme: dark) {
      .rpd-color-wrapper {
        &:before {
          box-shadow: inset 0 0 0 calc(0.23em - 1px)
            var(--color-neutral-background, #0b1416);
        }
      }
    }
  }
}

#siteTable .rpd-text.rpd-no-color.after-user-tag:before {
  content: ' ';
}

/*-----------------------*/
/* Bubble Dates */

.rpd-bubble {
  padding: 0.33em 0.4em 0.3em 0.4em;
  font-size: 0.9em;

  .rpd-color-wrapper {
    box-shadow: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 2px;
    position: absolute;
    margin: 0;
  }

  &.old-reddit {
    font-size: 0.95em;
    padding: 0 0.4em;

    .rpd-color-wrapper {
      top: -2px;
      bottom: -3px;
    }
  }

  &.rpd-color {
    color: #fff !important;
  }

  &.rpd-no-color {
    color: #5a5a5a !important;

    .rpd-color-wrapper {
      background-color: #ececec;
    }

    &.reddit-redesign-2 {
      top: 0.05em;

      .rpd-color-wrapper {
        background-color: var(--color-secondary-background, #ebedef);
      }

      @media (prefers-color-scheme: dark) {
        color: #fff !important;

        .rpd-color-wrapper {
          background-color: var(--color-secondary-background, #1a282e);
        }
      }
    }
  }
}

/*-----------------------*/
/* Estimated Dates */

.rpd-estimate {
  .rpd-bubble {
    opacity: 0.7;
  }

  span:after {
    content: ' (estimate)';
    opacity: 0.95;
  }

  &.rpd-text span:after {
    opacity: 0.8;
  }
}
